body {
    font-family: 'PT Sans', sans-serif;
    color:rgb(65, 64, 64);
    box-sizing: content-box;
}
a{
    color:rgb(65, 64, 64);            
}

footer{
    color:rgb(65, 64, 64); 
    background-color: #fff;          
}
h1 {
    color:#02afe4;
    text-align: center;
}

nav{
    height: 60px;
    background-color: #02afe4;
    color: white;
    opacity: .9;
    font-family: 'Medula One', cursive;
}

