.parallax{
    background-image: url(" https://images.unsplash.com/photo-1516824237444-09453e0027ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size:cover;
    height:500px;
}
.cover{
    background-color: rgba(255, 255, 255, 0.3);
    height:500px;
}
.overlay{
    background-color: rgba(255, 255, 255, 0.856);
    flex:1;
    overflow: hidden;
    top: 4%;
    z-index: 3;
    opacity: .3;
}
#mainInput{
    width:100%;
}
h1{
    font-size:1.5rem;
    font-weight: normal;
    background-color: #faaca8;
    height:53px;
}
li{
    background-color: #fff;
    font-size:1.2rem;
    height: 45px;
    line-height: 45px;
    color:#666
}
li:nth-child(2n){
    background-color: #eee;
}
li:hover .trash {
    width:45px;
    opacity:1;
}
.main{
    margin: auto auto;
    justify-content: center;
    width:500px;
}
input{
    border: 3px solid rgba(0,0,0,0);
    font-size:1.2rem;
    background-color: #eee;
    width:100%;
    padding: 10px 10px 10px 20px;
    color:#faaca8;
}
input:focus{
    outline: none;
    background-color: #fff;
    border: 3px solid #faaca8
}
.completed{
    color:gray;
    text-decoration: line-through;
}
.cont{
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.trash{
    background-color:#e74c3c;
    height:45px;
    margin-right:20px;
    width:0;
    text-align: center;
    color:white;
    display: inline-block;
    transition: 0.3s linear;
    opacity:0;
}
.hide{
    display: none;
}