/* ===== CSS WORKS FOR RESULT PAGE ===== */
/* button hover work */
#finished{
    background-color: tomato;
    border: 3px solid tomato;
    width:280px;
    color:rgba(255, 255, 255);
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bree Serif', serif;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
    }
#finished:hover span {
    display:none;
}
#finished:hover:before{
    content:'Create Meal Plan';
}
#h1finished{
    color:tomato;
}

.card-img-top {
    width: 100%;
    max-width: 250px;
}

.card {
    margin-bottom: 5px;
}

.card-text {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.card-body {
    padding: 5px;
}

.media-text {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

/* ==== TO BE DELEteD */
/* .drop {
    display: none;
} */

.days {
    width: 14%;
    height: 10vh;
    text-align: center;
    background-color: rgba(218, 165, 32, 0.2);
    border-right: .5px solid gray;
}

.height {
    position: fixed;
    font-size: 16px;
    padding-left: 10px;
    min-width: 180px;
    max-width: 180px;
}

.fa-folder-plus {
    font-size: 1.3rem;
}

.sidemenu {
    line-height: 3rem;
    padding: 20px;
}

.aHeadingMobile{
    font-size:16px;
    font-weight: bold;
}
