        .drop {
            display: none;
        }

        .card-img-top {
            width: 100%;
            max-width: 250px;
        }

        .days {
            width: 14%;
            height: 10vh;
            text-align: center;
            background-color: rgba(218, 165, 32, 0.2);
            border-right: .5px solid gray;
        }

        .card {
            margin-bottom: 5px;
        }

        .card-text {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
        }

        .media-text {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
        }

        .height {
            position: fixed;
            font-size: 16px;
            padding-left: 10px;
            min-width: 180px;
            max-width: 180px;
        }

        .card-body {
            padding: 5px;
        }

        .fa-folder-plus {
            font-size: 1.3rem;
        }

        .sidemenu {
            line-height: 3rem;
            padding: 20px;
        }

        .aHeadingMobile{
            font-size:16px;
            font-weight: bold;
        }
